language: go

sudo: false

env:
  global:
    - GO111MODULE=on
    - GOLANGCI_VER=v1.17.1

go:
  - stable

install: true

before_script:
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | bash -s -- -b $GOPATH/bin $GOLANGCI_VER

script:
  - make test
  - make lint

after_success:
  - bash <(curl -s https://codecov.io/bash)
